---
layout: default
title: "Compact navigation bar"
version: "1.1.1"
description: "Compacts the vertical navbar into a horizontal icon-ic one."
preprocessor: stylus
variables:
- '@var text iconSize "Icon size" 20px'
- '@var text height "Height" 40px'
- '@var text rounding "Rounding" 0'
- '@var text padding "Padding" 0'
---
// (craft) new pleroma-fe uses .NavPanel (idk why), old one uses .nav-panel
.nav-panel, .NavPanel {
	.panel {
	    height: height;
	    
	    ul > li:hover > a:not(.router-link-active) > .button-icon {
		color: var(--selectedMenuText,#b9b9ba);
	    }
	    
	    ul > li > .router-link-active > .button-icon {
		color: var(--selectedMenuLightText);
	    }
	}

	ul { 
	    display: flex;
	    height: 100%;
	    padding: padding;
	}
	li {
	    width: -moz-available;
	    width: -webkit-fill-available;
	    border-bottom: none;

	    a {
		border-radius: rounding !important;
	    }
	}
	a {
	    font-size: 0;
	    height: 100%;
	    display: flex;
	    position: relative;
	}

	.button-icon, svg.svg-inline--fa {
	    margin: auto;
	    font-size: iconSize;
	    color: var(--link,#d8a070);
	}

	.badge {
	    position: absolute;
	    right: 0;
	    
	    background-color: red;
	    background-color: var(--badgeNotification,red);
	    color: #fff;
	    color: var(--badgeNotificationText,#fff);

	    // remove layout
	    padding: 0;
	    margin: 0;
	    
	    
	    box-shadow: black 0 1px 5px;
	    
	    display: inline-block;

	    border-radius: 99px;
	    min-width: 22px;
	    line-height: 22px;
	    min-height: 22px;
	    max-height: 22px;
	    
	    font-size: 14px;
	    font-weight: normal;
	    font-style: normal;
	    font-family: inherit;
	}
}
