---
layout: default
title: "Compact navigation bar"
version: "1.1.1"
description: "Compacts the vertical navbar into a horizontal icon-ic one."
preprocessor: stylus
variables:
- '@var text iconSize "Icon size" 20px'
- '@var text height "Height" 40px'
- '@var text rounding "Rounding" 0'
- '@var text padding "Padding" 0'
---

.nav-panel > .panel {
    height: height;
}

.nav-panel ul {
    display: flex;
    height: 100%;
    padding: padding;
}

.nav-panel li {
    width: -moz-available;
    width: -webkit-fill-available;
    border-bottom: none;
}
    
.nav-panel li a {
    border-radius: rounding !important;
}

.nav-panel a {
    font-size: 0;
    height: 100%;
    display: flex;
    position: relative;
}

.nav-panel .button-icon {
    margin: auto;
    font-size: iconSize;
    color: var(--link,#d8a070);
}

.nav-panel > .panel > ul > li:hover > a:not(.router-link-active) > .button-icon {
    color: var(--selectedMenuText,#b9b9ba);
}

.nav-panel > .panel > ul > li > .router-link-active > .button-icon {
    color: var(--selectedMenuLightText);
}

.nav-panel .badge {
    position: absolute;
    right: 0;
    font-size: initial;
}
.nav-panel .follow-request-count {
    margin: 0;
}
.nav-panel .follow-request-count {
    background-color: red;
    background-color: var(--badgeNotification,red);
    color: #fff;
    color: var(--badgeNotificationText,#fff);
    
    padding: 0;
    box-shadow: black 0 1px 5px;
}
